[submodule "mockup-core"]
	path = mockup-core
	url = https://github.com/miroslavhybler/ksp-mockup-core.git
[submodule "mockup-annotations"]
	path = mockup-annotations
	url = https://github.com/miroslavhybler/ksp-mockup-annotations.git
